
<div class="container">
    <h1 class="my-4">Juego el ahorcado </h1>
    <h2 class="my-4">Integrantes</h2>
    <ul class="list-group">
      <li class="list-group-item">name marco y otros</li>
      <li class="list-group-item">name gente</li>
      <li class="list-group-item">name gente</li>
      <li class="list-group-item">nombre del nose</li>
    </ul>
    <button routerLink="/game" class="btn btn-primary">Play</button>
    <p class="mt-4">
      gentita aqui ponen las instruciones el juego xd
    </p>
  </div>
  